.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.video-player {
  width: 100%;
  min-height: 65vh;
  background: #17a2b8;
  color: #343a40;
}

.custom-card {
  width: 17rem !important;
  margin: auto;
  margin-bottom: 1rem;
  min-height: 23rem;
  background-color: #343a40;
}

.list-option-container {
  margin-bottom: 0.8rem !important;
  margin-top: 0;
}

.card-header {
  background: #343a40;
}

.Progressbar-container {
  background: #343a40;
  max-height: 0.5rem !important;
}

.progress-bar {
  background-color: #17a2b8;
}

.overview-container {
  position: relative;
  width: 100%;
  min-height: 26rem;
}

.image {
  display: block;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #343a40;
}

.overview-container:hover .overlay {
  opacity: 1;
}

.custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.space {
  color: white;
  margin-bottom: 0 !important;
}

.text-title {
  color: #17a2b8;
  font-size: 2.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 95%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.text {
  color: white;
  font-size: 2vh;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 90%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.movie-details {
  color: rgb(0, 0, 43) !important;
  background-color: lightgray !important;
  list-style-type: none;
}

.header-container {
  background-color: #343a40;
  color: #17a2b8;
  font-family: Monoton;
  letter-spacing: 0.6rem;
  font-weight: 300;
  font-size: 8vw;
}

.my-NavBar {
  padding: 0.8rem;
  padding-bottom: 0;
}

.nav-columns {
  width: 100%;
}

.nav-text {
  justify-content: center;
  color: #17a2b8;
  font-size: 1.2rem;
  margin-bottom: 0.1rem !important;
}

.SearchesContainer {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.SearchesContainer h6 {
  margin-bottom: 1rem !important;
  color: white;
  font-size: 0.8rem;
}
.input-range__track--active {
  background-color: #17a2b8 !important;
}

.input-range__slider {
  background-color: white;
}

.list-option-container {
  margin-top: 0.5rem;
}

.form-control {
  font-size: 0.8rem !important;
}

.list-option-container {
  margin-top: 0 !important;
}
